# Web Framework & Server
fastapi
uvicorn
python-multipart

# Database & Environment
sqlalchemy
psycopg2-binary
alembic
python-dotenv

# External APIs & Clients
requests
httpx==0.27.0
google-genai
jira
apscheduler
supabase==2.14.0
